<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>道路信息管理</title>

    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }

        /*整体布局*/
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
        }
    </style>

</head>
<body>
<div id="app">
    <template>

        <el-container>
            <el-header>
                <!-- 超链接-->
                <el-col :span="4">
                    <div class="grid-content bg-purple">
                        <a href="vertex.html" title="地图上的地点的管理">景点管理</a>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <a href="edge.html" title="地图上的道路的管理">道路管理</a>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <a href="map.html" title="可视化地图粗略概括">地图</a>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <a href="shortestRoute.html" title="如果您想获得从某地到其他各地的最短路径，请点击这里">单源最短路径</a>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <a href="mutipleRoute.html" title="如果您想获得某两地间的最短路径，请点击这里">两地间最短路径路径</a>
                    </div>
                </el-col>
            </el-header>
            <el-main>


                <!-- 表单-->
                <el-form :inline="true" :model="marks" class="demo-form-inline">
                    <el-form-item label="地点1">
                        <el-input placeholder="请输入查询地点的代号" v-model="marks.mark1"></el-input>
                    </el-form-item>
                    <el-form-item label="地点2">
                        <el-input placeholder="请输入查询地点的代号" v-model="marks.mark2"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="selectEdgeByMarks" type="primary">查询</el-button>
                    </el-form-item>
                    <!--  文件上传-->
                    <el-form-item>
                        <input class="file" name="file" type="file" accept=".txt" @change="upload" />
                        {{upload_msg}}
                    </el-form-item>
                </el-form>



                <!--按钮-->
                <el-row>
                    <el-button plain type="danger" v-on:click="deleteByIds">批量删除</el-button>
                    <el-button @click="dialogVisible = true" plain type="primary">新增</el-button>
                </el-row>

                <!--添加数据对话框表单-->
                <el-dialog
                        :visible.sync="dialogVisible"
                        title="新增景点"
                        width="30%">
                    <el-form :model="newEdge" label-width="80px" ref="form">
                        <el-form-item label="邻接景点1">
                            <el-input v-model="newEdge.mark1"></el-input>
                        </el-form-item>
                        <el-form-item label="邻接景点2">
                            <el-input v-model="newEdge.mark2"></el-input>
                        </el-form-item>
                        <el-form-item label="距离">
                            <el-input type="textarea" v-model="newEdge.distance"></el-input>
                        </el-form-item>
                        <el-form-item label="一般步行时间">
                            <el-input v-model="newEdge.walkTime"></el-input>
                        </el-form-item>
                        <el-form-item label="一般骑行时间">
                            <el-input v-model="newEdge.rideTime"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="addEdge" type="primary">提交</el-button>
                            <el-button @click="dialogVisible = false">取消</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!--修改数据对话框表单-->
                <el-dialog
                        :visible.sync="dialogVisibleModify"
                        title="编辑景点"
                        width="30%">
                    <el-form :model="modifyEdge" label-width="80px" ref="form">
                        <el-form-item label="邻接景点1">
                            <el-input v-model="modifyEdge.mark1"></el-input>
                        </el-form-item>
                        <el-form-item label="邻接景点2">
                            <el-input v-model="modifyEdge.mark2"></el-input>
                        </el-form-item>
                        <el-form-item label="距离">
                            <el-input type="textarea" v-model="modifyEdge.distance"></el-input>
                        </el-form-item>
                        <el-form-item label="一般步行时间">
                            <el-input v-model="modifyEdge.walkTime"></el-input>
                        </el-form-item>
                        <el-form-item label="一般骑行时间">
                            <el-input v-model="modifyEdge.rideTime"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="ModifyEdge" type="primary">提交</el-button>
                            <el-button @click="dialogVisibleModify = false">取消</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!-- 表格-->
                <el-table
                        :data="tableData"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange"
                        style="width: 100%">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="主键id"
                            prop="id">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="邻接景点1"
                            prop="mark1">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="邻接景点2"
                            prop="mark2">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="距离"
                            prop="distance">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="一般步行时间"
                            prop="walkTime">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="一般骑行时间"
                            prop="rideTime">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="操作">
                        <template slot-scope="scope">
                            <el-row>
                                <el-button @click="modify(scope.$index, scope.row)" type="primary">修改</el-button>
                                <el-button @click="deleteById(scope.$index,scope.row)" type="danger">删除</el-button>
                            </el-row>
                        </template>

                    </el-table-column>
                </el-table>
            </el-main>

            <el-footer>
                <!--  分页工具条-->
                <div class="block">
                    <!--            page-size ：每页显示的条目数
                                    page-sizes ： 每页显示个数选择器的选项设置。
                                    :page-sizes="[100,200,300,400]" 对应的页面效果如下：-->
                    <el-pagination
                            :current-page="currentPage"
                            :page-size="5"
                            :page-sizes="[6, totalCount]"
                            :total="totalCount"
                            @current-change="handleCurrentChange"
                            @size-change="handleSizeChange"
                            layout="total, sizes, prev, pager, next, jumper">
                    </el-pagination>
                </div>


            </el-footer>
        </el-container>


    </template>
</div>

<script src="js/axios.min.js"></script>
<script src="js/vue@2.7.14.js"></script>
<script src="element-ui/lib/index.js"></script>
<link href="element-ui/lib/theme-chalk/index.css" rel="stylesheet">

<script>
    new Vue({
        el: "#app",
        methods: {
            //文件上传方法
            upload(e){
                let file = e.target.files[0];
                let param = new FormData(); //创建form对象
                param.append('file',file);//通过append向form对象添加数据
             //  console.log(param.get('file')); //FormData私有类对象，访问不到，可以通过get判断值是否传进去
                let config = {
                    headers:{'Content-Type':'multipart/form-data'}
                }; //添加请求头
                axios.post('http://localhost/EdgeServlet/acceptTxt',param,config)
                    .then(response=>{
                      //  console.log(response.data);
                        this.upload_msg=response.data;
                        if(this.upload_msg==="添加成功，但请注意不符合格式的行并未被添加"){
                            this.selectByPage();//重新查询数据
                        }
                    })
            },
            // 1.表单
            // 依据mark1和mark2的查询方法
            selectEdgeByMarks() {
                var _this = this;
                axios.post("http://localhost:80/EdgeServlet/selectByMarks", _this.marks)
                    .then((resp) => {
                        //响应数据的处理逻辑
                        if (resp.data === 'failure') {
                            // 弹出消息提示
                            _this.$message({
                                message: '抱歉，请仔细检查您的信息',
                                type: 'failure'
                            });
                        } else {
                            _this.tableData = resp.data;
                            console.log(_this.tableData);
                            // 弹出消息提示
                            _this.$message({
                                message: '恭喜你，查询成功',
                                type: 'success'
                            });
                        }


                    });
            },
            //2.增加和批量删除按钮
            addEdge() {
                alert(this.newEdge);
                var _this = this;
                // 发送ajax请求，添加数据
                axios({
                    method: "post",
                    url: "http://localhost:80/EdgeServlet/addEdge",
                    data: _this.newEdge
                }).then(function (resp) {
                    //响应数据的处理逻辑
                    if (resp.data === "success") {
                        //添加成功
                        //关闭窗口
                        _this.dialogVisible = false;
                        // 重新查询数据
                        _this.selectByPage();
                        // 弹出消息提示
                        _this.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                    } else {
                        // 弹出消息提示
                        _this.$message({
                            message: '抱歉，请仔细检查您的信息',
                            type: 'failure'
                        });
                    }
                })
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
                // console.log(this.multipleSelection)
            },
            //依据 复选框选中后所得id集合批量删除id
            deleteByIds() {
                // 弹出确认提示框
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //用户点击确认按钮
                    //1. 创建id数组 [1,2,3], 从 this.multipleSelection 获取即可
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.id;
                    }
                    //2. 发送AJAX请求
                    var _this = this;
                    console.log(this.selectedIds);
                    // 发送ajax请求，添加数据
                    axios({
                        contentType: "application/json;charset=utf-8",
                        method: "post",
                        url: "http://localhost:80/EdgeServlet/deleteByIds",
                        data: _this.selectedIds
                    }).then(function (resp) {
                        if (resp.data === "success") {
                            //删除成功
                            // 重新查询数据
                            _this.selectByPage();
                            // 弹出消息提示
                            _this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //3.表格
            //每页的查询所有函数
            selectByPage() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:80/EdgeServlet/selectByPage?" +
                        "currentPage=" + this.currentPage + "&pageSize=" + this.pageSize
                }).then(function (resp) {
                    console.log(resp.status);
                    if (resp.status === 404) {
                        window.location.replace("login.html");
                    }
                    console.log(resp.data);
                    //设置表格数据
                    _this.tableData = resp.data.rows; // {rows:[],totalCount:100}
                    //设置总记录数
                    _this.totalCount = resp.data.totalCount;

                })
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 4 === 0) {
                    return 'warning-row';
                } else if (rowIndex % 4 === 2) {
                    return 'success-row';
                }
                return '';
            },
            //点击修改按钮
            modify(index, row) {
                // console.log(row);
                this.dialogVisibleModify = true;
                //将要修改的行的属性填上表单
                this.modifyEdge = row;
                //console.log(this.modifyEdge);
            },
            //填写修改表单  发送修改后的数据
            ModifyEdge() {
                console.log(this.modifyEdge);
                var _this = this;
                // 发送ajax请求，添加数据
                axios({
                    contentType: "text/json;charset=UTF-8",
                    method: "post",
                    url: "http://localhost:80/EdgeServlet/modifyEdge",
                    data: _this.modifyEdge
                }).then(function (resp) {
                    //响应数据的处理逻辑
                    if (resp.data === "success") {
                        //添加成功
                        //关闭窗口
                        _this.dialogVisibleModify = false;
                        // 重新查询数据
                        _this.selectByPage();
                        // 弹出消息提示
                        _this.$message({
                            message: '恭喜你，修改成功',
                            type: 'success'
                        });
                    } else {
                        // 弹出消息提示
                        _this.$message({
                            message: '抱歉，请仔细检查您的信息',
                            type: 'failure'
                        });
                    }
                })
            },
            //删除单行数据
            deleteById(index, row) {

                // 弹出确认提示框
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //用户点击确认按钮
                    this.selectedId[0] = row.id;
                    //2. 发送AJAX请求
                    var _this = this;
                    // 发送ajax请求，添加数据
                    axios({
                        contentType: "application/json;charset=utf-8",
                        method: "post",
                        url: "http://localhost:80/EdgeServlet/deleteByIds",
                        data: _this.selectedId
                    }).then(function (resp) {
                        if (resp.data === "success") {
                            //删除成功
                            // 重新查询数据
                            _this.selectByPage();
                            // 弹出消息提示
                            _this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //4.分页工具栏
            //重新设置每页展示的数据条数
            handleSizeChange(val) {
                //我们选择的是 ‘5条/页’ 此值就是 5.而我们选择了 `10条/页` 此值就是 10
                // 重新设置每页显示的条数
                this.pageSize = val;
                //调用 selectByPage 函数重新分页查询数据
                this.selectByPage();
            },
            //第n页改变时  重新发送当前页码和需要展示的数据
            handleCurrentChange(val) {
                // 重新设置当前页码
                this.currentPage = val;
                //调用 selectByPage 函数重新分页查询数据
                this.selectByPage();
            }

        },
        data() {
            return {
                //上传的文件
                upload_msg:"",
                //1.表单模型
                marks: {
                    mark1: '',
                    mark2: ''
                },
                //2.增加和批量删除按钮
                newEdge: {
                    id: '0',//默认增加的id为0 等待分配id
                    mark1: '',
                    mark2: '',
                    distance: '',
                    walkTime: '',
                    rideTime: ''
                },
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                //3.表格数据模型
                tableData: [{
                    id: '',
                    mark1: '',
                    mark2: '',
                    distance: '',
                    walkTime: '',
                    rideTime: ''
                }],
                // 复选框选中数据集合  [1,2,3]
                multipleSelection: [],
                //复选框选中后 所得id的集合
                selectedIds: [],
                //单独的删除按钮
                selectedId: [],
                dialogVisibleModify: false,
                modifyEdge: {
                    id: '',//默认修改后的id为原id
                    mark1: '',
                    mark2: '',
                    distance: '',
                    walkTime: '',
                    rideTime: ''
                },
                //4.分页工具栏
                // 当前页码            //前端发送当前页码和展示多少行数据给后端
                //后端返回相应的行数据 及总数量
                currentPage: 1,
                //每页展示多少行数据
                pageSize: 6,
                totalCount: 0

            }
        },
        mounted() {
            //当页面加载完成后，发送异步请求，获取数据
            this.selectByPage();
        }
    })
</script>


</body>
</html>